
*{
    box-sizing: border-box;

}

body{
    background-color: rgb(222, 184, 145);
}

header {
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 130px;
    top: 0px;
}


nav {
    display: flex; /* Convertimos el nav en un flex container */
    align-items: center; /* Centramos los elementos verticalmente */

}

header img {
    
    width: 10vw;
}

header nav a {
    text-decoration: none;
    color: black;
    background-color: rgb(255, 255, 255);
    margin-left: 16px; /* Espacio entre las etiquetas "a" */
}

main{
    background-color: rgb(255, 255, 255); 
    width: 100%;
}

#nosotros{
    padding-top: 150px;
    text-align: center;

    background-image: url(../images/vecteezy_ilustracao-de-fundo-gradiente-laranja-e-preto_7262205.jpg);
}


#artistas{
    padding-top: 150px;
    text-align: center;

    margin-bottom: 200px;
}


#imagenart1{
    margin-left: 32px;
    margin-top: 15px;
    margin-bottom: 16px;
    width: 20vw;
    border: 1vw solid #f37e01;
}

#imagenart2{
    margin-left: 32px;
    margin-top: 15px;
    margin-bottom: 16px;
    width: 20vw;
    border: 1vw solid #f37e01;
}

.cuadros{
    width: 25vw;
}

#obras{
    padding-top: 150px;
    background-color: rgb(222, 184, 145);
    color: #653702;
    text-align: center;

    margin-bottom: 200px;
}

#imagenFooter {
    margin-left: 32px;
    margin-top: 15px;
    margin-bottom: 16px;
    width: 10vw;
}

footer {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
    background-color: rgb(255, 255, 255);
    width: 100%;
}

.footerDerecha {
    margin-left: auto; /* Mueve los elementos al final del contenedor */
    width: 20vw;
}

/*rgb(222, 184, 145) background color orignal */

.container {
    width: 100%; /* Utiliza el ancho completo del contenedor padre */
    max-width: 1200px; /* Limita el ancho m치ximo del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

img {
    max-width: 100%; /* La imagen no ser치 m치s ancha que su contenedor */
    height: auto; /* Mantiene la relaci칩n de aspecto original */
}